/__pychache__


*.xml


*.idea


*.pyc
tests/
dist/*
rslearn_ml.egg-info/*
.vscode/*

goal.md
testing.py
.venv/*
*.egg-info
.vscode

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
